@charset "UTF-8";

@font-face {
    font-family: Aclonica;
    src: url('fonte/Aclonica-Regular.ttf') format('opentype');
}

:root {
    --cor0: #f177a477;
    --cor1: #F25C93;
    --cor2: #82358C;
    --cor3: #82358c6b;  /* footer*/

    --font-destaque: Aclonica;
}

body {
    background-position:100%;
    background-image: url('imagem/fundo.jpeg');
    background-size: contain;
    background-color: var(--cor0);
    margin: 0px;
}

header {
    background-image: linear-gradient(to top , var(--cor1), var(--cor2));
    padding: 40px;
    font-family:var(--font-destaque);
    font-size:18px;
    color: white; /*#D98E04*/
    text-align: center;
    text-decoration:none;
    font-weight:bold;
}

nav {
    background-image: linear-gradient(to top ,#82358C 1%, #F25C93);
    background-color: var(--cor2);
    padding: 7px;
    box-shadow: 0px 7px 7px 0px rgba(82, 7, 100, 0.19);
    background-color: var(--cor2);
}

nav > a {
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    transition-duration: .5s;

}

main {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom , #82358C ,#F25C93);
    font-family: var(--font-destaque);
    font-size: 20px;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    color: white;
    text-align: center;
}



p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}


footer {
    background-color: var(--cor3);
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

footer a {
    color: black;
    text-decoration: underline;
    background-color: #ffffff63;
}

